In [1]:
t1 = ()
print(t1)

()

In [2]:
t2 = (2)
print(t2)
print(type(t2))

2
<class 'int'>

In [3]:
t3 = ('hello')
print(t3)
print(type(t3))

hello
<class 'str'>

In [4]:
t4 = (2,)
print(t4)
print(type(t4))

(2,)
<class 'tuple'>

In [5]:
t5 = ('hello',)
print(t5)
print(type(t5))

('hello',)
<class 'tuple'>

In [6]:
t6 = (1,2.3,True,[1,2,3])
print(t6)
print(type(t6))

(1, 2.3, True, [1, 2, 3])
<class 'tuple'>

In [7]:
t7 = (1,2,3,4,(5,6))
print(t7)

(1, 2, 3, 4, (5, 6))

In [8]:
t8 = tuple('Hello')
print(t8)

('H', 'e', 'l', 'l', 'o')

In [9]:
print(t7[4])

(5, 6)

In [10]:
print(t7[-1][0])

5

In [11]:
print(t7[0]= 12)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1351618922.py, line 1)

In [12]:
print(t7)
del(t7)
print(t7)

(1, 2, 3, 4, (5, 6))

NameError: name 't7' is not defined

In [13]:
t9 = (1,2,3,4,5,6,7)
print(t9[-1:-5:-1])

(7, 6, 5, 4)

In [14]:
print(t9*3)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [15]:
7 in t9

True

In [16]:
9 not in  t9

True

In [17]:
for i in t9:
    print(i)

1
2
3
4
5
6
7

In [18]:
print(sum(t9))
print(t9)

28
(1, 2, 3, 4, 5, 6, 7)

In [19]:
print(min(t9))
print(max(t9))
print(sorted(t9,reverse = True))

1
7
[7, 6, 5, 4, 3, 2, 1]

In [20]:
t9.count(7)

1

In [21]:
t9.index(7)

6

In [22]:
# Tuple unpacking

a,b,c = 1,2,3

In [23]:
print(a)
print(b)
print(c)

1
2
3

In [24]:
a = 1
b = 2
a,b = b,a

In [25]:
print(a)
print(b)

2
1

In [26]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9]

In [27]:
a = (1,2,3,4)
b = (5,6,7,8)
print(tuple(zip(a,b)))

((1, 5), (2, 6), (3, 7), (4, 8))

In [28]:
s= {}
print(type(s))

<class 'dict'>

In [29]:
s1= set()
print(type(s1))

<class 'set'>

In [30]:
s2 = {1,2,3,4,5}
print(s2)

{1, 2, 3, 4, 5}

In [31]:
s3 = {1,2,3,4,5,{6,7,8}}

TypeError: unhashable type: 'set'

In [32]:
s4 = {2,(3,'hello'),True}
print(s4)

{True, 2, (3, 'hello')}

In [33]:
s5 = set([1,2,3,4])
print(s5)
print(type(s5))

{1, 2, 3, 4}
<class 'set'>

In [34]:
s6 = {1,2,2,3,3,3,4,4,4,5,5,6,7,7,8,8,9,9,9,0,0,0,}
print(s6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
s7 = {1,2,[3,4]}
print(s7)

TypeError: unhashable type: 'list'

In [36]:
s8 = {1,2,3,4,5,6,7}
s9 = {3,4,6,1,7,2,5}
print(s8==s9)

True

In [37]:
s9 = {1,2,3,4}
s9.add(5)
print(s9)

{1, 2, 3, 4, 5}

In [38]:
s10 = {1, 2, 3, 4, 5}
s10.update([6,7,8,9])
print(s10)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
s11 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s11)
del(s11)
print(s11)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

NameError: name 's11' is not defined

In [40]:
s12 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s12.discard(3)  # Discard will not through an error even number not exist but remove will.
print(s12)

{1, 2, 4, 5, 6, 7, 8, 9}

In [41]:
s13 = {1, 2, 4, 5, 6, 7, 8, 9}

print(s13.discard(89))
print(s13.remove(89))

None

KeyError: 89

In [42]:
s13 = {1, 2, 4, 5, 6, 7, 8, 9}
s13.pop()

1

In [43]:
s13.clear()
print(s13)

set()

In [44]:
# Union (|)

s14 = {1,2,3,4,5,6}
s15 = {5,6,7,8,9,10}

s14|s15

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
# Intersections (&)

s16 = {1,2,3,4,5,6}
s17 = {5,6,7,8,9,10}

s16 & s17

{5, 6}

In [46]:
# Difference(-)
s18 = {1,2,3,4,5,6}
s19 = {5,6,7,8,9,10}
print(s18-s19)
print(s19-s18)

{1, 2, 3, 4}
{8, 9, 10, 7}

In [47]:
# Symmetric diff (^)   # print all items except common
s20 = {1,2,3,4,5,6}
s21 = {5,6,7,8,9,10}
s20^s21

{1, 2, 3, 4, 7, 8, 9, 10}

In [48]:
1 in s20

True

In [49]:
3 not in s21

True

In [50]:
for i in s21:
    print(i)

5
6
7
8
9
10

In [51]:
s22 = {3,4,5,1,2,7,6,9,8}
print(len(s22))
print(sum(s22))
print(min(s22))
print(max(s22))
print(sorted(s22, reverse = True))

9
45
1
9
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
s23 = {1,2,3,4,5,6}
s24 = {4,5,6,7,8,9}

print(s23|s24)
print(s23.union(s24))

s23.update(s24)
print(s23)
print(s24)
s24.update(s23)
print(s23)
print(s24)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
s25 = {1,2,3,4,5,6}
s26 = {4,5,6,7,8,9}


s25.intersection(s26)

s25.intersection_update(s26)
print(s25)
print(s26)

{4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [54]:
s27 = {1,2,3,4,5,6}
s28 = {4,5,6,7,8,9}


s27.difference(s28)

s27.difference_update(s28)
print(s27)
print(s28)

{1, 2, 3}
{4, 5, 6, 7, 8, 9}

In [55]:
s29 = {1,2,3,4,5,6}
s30 = {4,5,6,7,8,9}


s29.symmetric_difference(s30)

s29.symmetric_difference_update(s30)
print(s29)
print(s30)

{1, 2, 3, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [56]:
s30 = {1,2,3,4}
s31 = {3,4,5,6}

s30.isdisjoint(s31)        # isdisjoint means in between two sets their should not be any common item.

False

In [57]:
s32 = {1,2,3,4,5,6}
s33 = {4,5,6}

print(s32.issubset(s33))
print(s33.issubset(s32))

False
True

In [58]:
s34 = {1,2,3,4,5,6}
s35 = {4,5,6}


print(s34.issuperset(s35))
print(s35.issuperset(s34))

True
False

In [59]:
s36 = {1,2,3,4,5,6,7,8,9}
s37 = s36.copy()


print(s36)
print(id(s36))
print(s37)
print(id(s37))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
1591926944480
{1, 2, 3, 4, 5, 6, 7, 8, 9}
1591926946272

In [60]:
fs1 = frozenset({1,2,3,4})
fs1

frozenset({1, 2, 3, 4})

In [61]:
fs2 = frozenset({1,2,3,4})
fs3 = frozenset({5,6,7,8})
fs2|fs3

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [62]:
fs4 = frozenset([1,2,3,4,frozenset([5,6])])
fs4

frozenset({1, 2, 3, 4, frozenset({5, 6})})

In [63]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [64]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [65]:
d1 = {"Name": "Gourab", "Gender": "Male"}
print(d1)

{'Name': 'Gourab', 'Gender': 'Male'}

In [66]:
d2 = {(1,2,3,4):1, "Hello":"World"}
print(d2)

{(1, 2, 3, 4): 1, 'Hello': 'World'}

In [67]:
print(d2[1,2,3,4])
print(d2[1,2,3])

1

KeyError: (1, 2, 3)

In [68]:
d3 ={
    "name":"Gourab",
    "college":"GZSCCET",
    "university": "MRSPTU",
    "course":"B.tech",
    "Branch": "Mechenical",
    "subjects":{"som":35,
               "tom":45,
               "fm":54}
}

d3

{'name': 'Gourab',
 'college': 'GZSCCET',
 'university': 'MRSPTU',
 'course': 'B.tech',
 'Branch': 'Mechenical',
 'subjects': {'som': 35, 'tom': 45, 'fm': 54}}

In [69]:
d4 = dict([(1,1),(2,4),(3,9)])
d4

{1: 1, 2: 4, 3: 9}

In [70]:
d5 = {'name':"Gourab kumar","name":"Singh Rajput"}
d5

{'name': 'Singh Rajput'}

In [71]:
#d6 = {'name':"Gourab kumar",[1,2,3,4]:2}  #TypeError: unhashable type: 'list'
d6 = {'name':"Gourab kumar",(1,2,3,4):2}
d6

{'name': 'Gourab kumar', (1, 2, 3, 4): 2}

In [72]:
d6['name']

'Gourab kumar'

In [73]:
d3.get('course')

'B.tech'

In [74]:
d6['gender'] = "male"

In [75]:
d6

{'name': 'Gourab kumar', (1, 2, 3, 4): 2, 'gender': 'male'}

In [76]:
d4.pop(2)
d4

{1: 1, 3: 9}

In [77]:
d4.popitem()
d4

{1: 1}

In [78]:
del d6 [1,2,3,4]
d6

{'name': 'Gourab kumar', 'gender': 'male'}

In [79]:
d3['subjects']['fm']

54

In [80]:
d3['subjects']['som'] = 47
d3['subjects']['som']

47

In [81]:
print('Gourab' in d3)
print('name' in d3)

False
True

In [82]:
for i in d3:
    print(i,d3[i])

name Gourab
college GZSCCET
university MRSPTU
course B.tech
Branch Mechenical
subjects {'som': 47, 'tom': 45, 'fm': 54}

In [83]:
print('(1)',d3)
print((f'(2) {len(d3)}'))
print(f'(3) {sorted(d3,reverse =  True)}')
print(f'(4){max(d3)}')

(1) {'name': 'Gourab', 'college': 'GZSCCET', 'university': 'MRSPTU', 'course': 'B.tech', 'Branch': 'Mechenical', 'subjects': {'som': 47, 'tom': 45, 'fm': 54}}
(2) 6
(3) ['university', 'subjects', 'name', 'course', 'college', 'Branch']
(4)university

In [84]:
d3.items()

dict_items([('name', 'Gourab'), ('college', 'GZSCCET'), ('university', 'MRSPTU'), ('course', 'B.tech'), ('Branch', 'Mechenical'), ('subjects', {'som': 47, 'tom': 45, 'fm': 54})])

In [85]:
d3.keys()

dict_keys(['name', 'college', 'university', 'course', 'Branch', 'subjects'])

In [86]:
d3.values()

dict_values(['Gourab', 'GZSCCET', 'MRSPTU', 'B.tech', 'Mechenical', {'som': 47, 'tom': 45, 'fm': 54}])

In [87]:
d7 = {1:2,2:3,3:4,4:5}
d8 = {4:16,5:25}

d7.update(d8)
print(d7)
print(d8)

{1: 2, 2: 3, 3: 4, 4: 16, 5: 25}
{4: 16, 5: 25}

In [88]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [89]:
distances = {'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.62 for key, value in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [90]:
days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
temp = [33,36,35,34,28,29,30]
{i:j for (i,j) in zip(days,temp)}

{'Sunday': 33,
 'Monday': 36,
 'Tuesday': 35,
 'Wednesday': 34,
 'Thursday': 28,
 'Friday': 29,
 'Saturday': 30}

In [91]:
products  = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [92]:
{i:{j:i*j for j in range (1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}